Feature Scaling : Feature(특성)들의 척도를 통일하여 모델 학습 시 특정 특성이 다른 특성보다 과도하게 영향을 미치는 것을 방지

- 표준화 (stdardization) : 평균은 0, 분산은 1이 되도록 변환 (StandardScaler)
    -> 정규분포가 된다. => 만일, 특성의 값이 정규분포를 따르면, 표준 정규분포가 된다.

- 정규화 (normaalization) : 특성값을 정규화 (분산된 데이터를 어떤 일정한 범위로 가두는 것)
    - MinMaxScaler : 0 ~ 1 사이의 값으로 변환
        -> 만일, 이상치 값이 존재하면 값의 폭이 좁기 떄문에 판단이 모호해진다. (이상치에 민감)

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
np.random.seed(100)
data_array = []

for i in range(1, 100):
    s = np.random.randint(0, i * 10, 10)
    data_array.extend(s)

data_array.extend(np.zeros(100))

In [4]:
data = pd.DataFrame({"scaling_data": data_array})
data

      scaling_data
0              8.0
1              8.0
2              3.0
3              7.0
4              7.0
...            ...
1085           0.0
1086           0.0
1087           0.0
1088           0.0
1089           0.0

[1090 rows x 1 columns]

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.max(), data.min()

(scaling_data    977.0
 dtype: float64,
 scaling_data    0.0
 dtype: float64)

In [7]:
# 0 ~ 1 사이의 값으로 변환
scaler = MinMaxScaler()

In [ ]:
data_n = scaler.fit_transform(data)
data_n

array([[0.00818833],
       [0.00818833],
       [0.00307062],
       ...,
       [0.        ],
       [0.        ],
       [0.        ]], shape=(1090, 1))

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
# standard scaler 정의
scaler = StandardScaler()

In [11]:
np.random.seed(100)
data_array = []

for i in range(1, 100):
    s = np.random.randint(0, i * 10, 10)
    data_array.extend(s)

data_array.extend(np.zeros(100))

data = pd.DataFrame({"scaling_data": data_array})

In [12]:
data_n = scaler.fit_transform(data)
data_n

array([[-0.98416062],
       [-0.98416062],
       [-1.00595372],
       ...,
       [-1.01902959],
       [-1.01902959],
       [-1.01902959]], shape=(1090, 1))

In [13]:
data_n = pd.DataFrame({"scaling_data": data_n.ravel()})
data_n

      scaling_data
0        -0.984161
1        -0.984161
2        -1.005954
3        -0.988519
4        -0.988519
...            ...
1085     -1.019030
1086     -1.019030
1087     -1.019030
1088     -1.019030
1089     -1.019030

[1090 rows x 1 columns]

In [14]:
print(data_n.mean())
print(data_n.var())

scaling_data   -5.214993e-17
dtype: float64
scaling_data    1.000918
dtype: float64

In [15]:
np.random.seed(100)
data_array = []

for i in range(1, 100):
    s = np.random.randint(0, i * 10, 10)
    data_array.extend(s)

data_array.extend(np.zeros(100))

data = pd.DataFrame({"scaling_data": data_array})

In [16]:
from sklearn.preprocessing import normalize

In [17]:
# ?? TODO l1, l2, max 무슨 차이인지 찾아보기

# 원점으로부터 1만큼 떨어져 있는 범위(유클리드 거리) 로 치환 (-1 ~ 1)
data_l2_normalized = normalize([data["scaling_data"]], norm="l2")
data_l2 = pd.DataFrame({"scaling_data": data_l2_normalized.ravel()})

print(np.linalg.norm(data_l2_normalized, ord=2))

0.9999999999999998